
@()




@main("HR Rights") {
<html>
    <head>
        <title>
            HR Rights
        </title>
    </head>
    <body>
      <div class="category-body">
        <br><br><br><br><br><br><br><br>
        <div class="box">
            <br><br>
<table class="table-emp">
    <tr>
        <td>
            <button class="btn"  onclick="window.location.href='/create'">Create/Add Employee</button>
        </td>
        <td>
 <button class="btn" onclick="window.location.href='/update'">Update Employee</button>
        </td>
    </tr>
     <tr>
        <td>
 <button class="btn" onclick="window.location.href='/delete'">Delete Employee</button>
        </td>
        <td>
 <button class="btn" onclick="window.location.href='/employees'">Show all Employee</button>
        </td>
    </tr>
</table>
        </div>
        </div>
    </body>
</html>

}