
@()




@main("Delete Employee") {
    <html>
        <head>
            <title>

            </title>

              <link rel="stylesheet" media="screen" href="../../public/stylesheets/main.css">
        </head>
        <body>
<h1>Delete Employee</h1>
<BR><BR><BR><BR><BR>
<div class="box">
    <br>
    <form method="post" action="" >
  <table class="table" cellpadding="15">
    <tr>
      <td>Employee Name : </td>
      <td><input type="text" name="name"></td>
       </tr>
      
      <tr>
       <td>Employee Email : </td>
      <td><input type="email" name="email"></td>
      </tr>
   
      <tr>
        <td colspan="2">
          <input type="submit" value="Delete" class="b"></input>
        </td>
      </tr>
  </table>
</form>
</div>
        </body>
    </html>
    
}