
@()

@main("HR Mangagement System") {
  <html>
    <head>
     <title>title</title>
        <link rel="stylesheet" media="screen" href="../../public/stylesheets/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
          <div class="category-body">
      <!-- <h2>HR MANAGEMENT SYSTEM</h2> -->

     <br>
     <br>
     <br>
      <br>
     <br>
     <br>
       <br>
     <br>
      <div class="box">
        <br>
         <h1>HR LOGIN</h1>
<form method="post" action="validatepost">
  <table class="table" cellpadding="15">
    <tr>
      <td>Username : </td>
      <td><input type="text" name="username"></td>
       </tr>
      
      <tr>
       <td>Password : </td>
      <td><input type="password" name="password"></td>
      </tr>
   
      <tr>
        <td colspan="2">
          <input class="b" type="submit"></input>
        </td>
      </tr>
   
  </table>

</form>

      </div>
      </div>
    </body>
  </html>
}
